<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Formulário HTML</title>
    <meta charset="utf-8"/>
</head>
<body>
    <div class="flex-box container-box">
      <form class="formulario" method="post" [formGroup]="form" (ngSubmit)="submit()">
        <p> Cadastro de usuários</p>

        <div class="field">
            <label for="nome">Usuário:</label>
            <input type="text" id="nome" name="nome" placeholder="Digite seu usuario*" formControlName="username" required>
        </div>

        <div class="field">
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" placeholder="Digite sua senha*" formControlName="password">
        </div>

        <div>

        </div>

        <div class="field">
            <label for="email">E-Mail:</label>
            <input type="email" id="email" name="email" placeholder="Digite seu E-Mail*" formControlName="email" required>
        </div>
        <div class="field">
          <label for="email">Telefone:</label>
          <input type="email" id="email" name="email" placeholder="Digite seu telefone*" formControlName="telefone" required>
      </div>
      <br>
        <input type="submit" [disabled]="!form.valid" value="Cadastrar">
    </form>
    </div>
</body>
</html>
